<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: <%=model.name%></title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<dl class="main">
			<div itemscope itemtype="http://schema.org/Product/CarModel">
				<div id="left">
				<dt>Model name</dt>
				<dd itemprop="name"><%=model.name%></dd>
				<dt>Model make</dt>
				<dd itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
					<span itemprop="name"><a href="/makes/<%=model.make%>"><%=model.make%></a></span>
				</dd>
				<% if (model.description) { %>
				<dt>Model description</dt>
				<dd itemprop="description"><%=model.description%></dd>
				<% } %>
				</div>
				<div id="right">
				<% if (model.image) { %>
				<dt>Model image</dt>
				<dd itemprop="image"><img src="<%=model.image%>" alt="<%=model.name%>" width="230" height="153"></dd>
				<% } %>
				</div>
			</div>
			<dt>Cars</dt>
			<dd>
				<% if (cars.length > 0) { %>
				<ul>
					<% cars.forEach(function(car) { %>
					<li>
						<a href="/cars/<%=car._id%>">
							<%=car.name%>
						</a>
					</li>
					<% }); %>
				</ul>
				<% } else { %>
				No cars have been added.
				<% } %>
			</dd>
			</div>
		</dl>
		<div class="control">
			<h2>Add a new used car for sale</h2>
			<form id="car-add/update" method="post" action="/cars/">
				<input type="hidden" name="item[model]" value="<%=model._id%>">
				<input type="hidden" name="item[make]" value="<%=model.make%>">
				<!-- The line above links the car to be created to this model. -->
				<label>Car name:<br>
					<input name="item[name]" type="text" required
						placeholder="good condition">
				</label>
				<label>Car model-year: 
					<select name="item[modelyear]" required>
						<% for (var modelyear = 2012; modelyear >= 1990; modelyear = modelyear-1) {%>
						<option value="<%=modelyear%>">
						<%=modelyear%>
						</option>
						<% } %>
					</select>
				</label>
				<label>Car price:<br>
					<input name="item[price]" type="number" min="3000" step="100" value="5000" required
						placeholder="9,000">
				</label>
				<label>Car image:<br>
					<input name="item[image]" type="url" size="40"
						placeholder="http://www.image.com/car.jpeg">
				</label>
				<label>Car description:
					<textarea name="item[description]" cols="40" rows="10" 
						placeholder="description of the car">
					</textarea>
				</label>
				<button>Add</button>
			</form>
		</div>
	</body>
</html>