<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: <%=make.name%></title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/smoothness/jquery-ui-1.8.20.custom.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.8.20/jquery-ui.min.js"></script>
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<dl>
			<div itemscope itemtype="http://schema.org/Organization">
				<dt>Make name</dt>
				<dd itemprop="name"><%=make.name%></dd>
				<% if (make.description) { %>
				<dt>Make description</dt>
				<dd itemprop="description"><%=make.description%></dd>
				<% } %>
			</div>
			<dt>Models</dt>
			<dd>
				<% if (models.length > 0) { %>
				<ul>
					<% models.forEach(function(model) { %>
					<li>
						<a href="/models/<%=model._id%>">
							<%=model.name%>
						</a>
					</li>
					<% }); %>
				</ul>
				<% } else { %>
				No models have been added.
				<% } %>
			</dd>
			</div>
		</dl>
		<div class="control">
			<h2>Add or update a car model</h2>
			<script>
				function onFormSubmit(form) {
				form.action = form.action + form.elements['item[id]'].value;
				console.log(form.action);
				return true;
			} 
			</script>
			<script>
			$(function() {
				var availableids = [
					<%  models.forEach(function(model) { %>
					"<%=model._id%>",
					<% }); %>
				];
				$( "#modelids" ).autocomplete({
					source: availableids
				});
			});
			</script>
			<script>
			$(function() {
				var availablenames = [
					<%  models.forEach(function(model) { %>
					"<%=model.name%>",
					<% }); %>
				];
				$( "#modelnames" ).autocomplete({
					source: availablenames
				});
			});
			</script>
			<form id="model-add" method="post" action="/models/" 
				onsubmit="return onFormSubmit(this);">
				<!-- The line above dynamically sets the PUT destination when the -->
				<!-- form is submitted. -------------------------------------------->
				<input type="hidden" name="_method" value="put">
				<!-- The line above tells the server to treat this as a PUT request. -->
				<input type="hidden" name="item[make]" value="<%=make._id%>">
	    			<label>Model ID:<br>
					(lowercase letters only, no spaces):<br>
					<input name="item[id]" type="text" required id="modelids" list="modelids"
	        				placeholder="escape">
					<!--datalist tag is only available for firefox-->
					<datalist id="modelids">
						<%  models.forEach(function(model) { %>
						<option value="<%=model._id%>">
						<%=model._id%>
						</option>
						<% }); %>
					</datalist>
					<!--datalist tag is only available for firefox-->
				</label>
				<label>Model name:<br>
					<input name="item[name]" type="text" required id="modelnames"
	        				placeholder="Escape">
				</label>
				<label>Model image:<br>
					<input name="item[image]" type="url" size="40"
						placeholder="http://www.image.com/model.jpg">
				</label>
				<label>Model description:
					<textarea name="item[description]" cols="40" rows="10" 
						placeholder="description of the model">
					</textarea>
				</label>
				<button>Add or update</button>
			</form>
		</div>
	</body>
</html>