<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: <%=item.name%></title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<dl>
			<dt>Car name</dt>
			<dd><%=item.name%></dd>
			<dt>Car model</dt>
			<dd><a href="/models/<%=item.model%>"><%=item.model%></a></dd>
			<% if (item.image) { %>
			<dt>Image</dt>
			<dd><img src="<%=item.image%>" alt="<%=item.model-year%>-<%=item.model%>"></dd>
			<% } %>
		</dl>
		<div class="control">
			<h2>Update car</h2>
    			<form method="post" action="/cars/<%=item._id%>">
        			<input type="hidden" name="_method" value="put">
        			<!-- The line above tells the server to treat this as a PUT request. -->
				<label>Car name: 
                  			<input name="item[name]" value="<%=item.name%>" type="text" required>
       				</label>
        			<label>Car Model: 
          				<select name="item[model]" required>
            					<%  related_items.forEach(function(related_items) { %>
            					<option value="<%=related_items._id%>"
              						<% if (related_items._id === item.model) { %>selected<% } %>>
              						<%=related_items.name%>
           	 				</option>
            					<% }); %>
          				</select>
        			</label>
				<label>Car model-year:       				   
					<select name="item[modelyear]" required>
                    				<% for (var modelyears = 2012; modelyears >= 1990; modelyears = modelyears-1) {%>
            					<option value="<%=modelyears%>"
              						<% if (modelyears === Number(item.modelyear)) { %>selected<% } %>>
              						<%=modelyears%>
						</option>
            					<% } %>
          				</select>
       				</label>
				<label>Price: 
                  			<input name="item[price]" value="<%=item.price%>" type="number" min="3000" step="100" required>
       				</label>
        			<label>Image:
          				<input name="item[image]" value="<%=item.image%>" type="url" size="80"
						placeholder="http://www.image.com/car.jpeg>
					<input name="item[image]" value="<%=item.image%>" type="file">
				</label>
        			<button>Update</button>
      			</form>
		</div>
	</body>
</html>