<!DOCTYPE HTML>
<html>
	<head>
		<title>Cars for Sale: <%=car.name%></title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<a href="/"><h1>Cars for Sale</h1></a>
		<dl itemscope itemtype="http://schema.org/Offer">
			<dt>List name</dt>
			<dd itemprop="name"><%=car.name%></dd>
			<div itemprop="itemOffered" itemscope itemtype="http://schema.org/Product/Car">
				<dt>Car make</dt>
				<dd itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization/CarMake">
					<span itemprop="name"><a href="/makes/<%=car.make%>"><%=car.make%></a></span>
				</dd>
				<dt>Car model</dt>
				<dd itemprop="model"><a href="/models/<%=car.model%>"><%=car.model%></a></dd>
				<dt>Car model-year</dt>
				<dd itemprop="modelYear"><%=car.modelyear%></dd>
			</div>
			<dt>List price</dt>
			<dd itemprop="price"><%=car.price%></dd>
			<% if (car.description) { %>
			<dt>Car description</dt>
			<dd itemprop="description">
				<%=car.description%>
			</dd>
			<% } %>
			<% if (car.image) { %>
			<dt>Image</dt>
			<dd itemprop="image"><img src="<%=car.image%>" 
				alt="<%=car.name%>" width="230" height="153">
			</dd>
			<% } %>
		</dl>
		<div class="control">
			<h2>Update car</h2>
    			<form id="car-update" method="post" action="/cars/<%=car._id%>">
        			<input type="hidden" name="_method" value="put">
        			<!-- The line above tells the server to treat this as a PUT request. -->
				<label>Car make:
					<select name="item[make]" required>
						<%  makes.forEach(function(make) { %>
						<option value="<%=make%>" <% if (make === car.make) { %>selected<% } %>><%=make%></option>
						<% }); %>
					</select>
				</label>
				<label>Car model:
					<select name="item[model]" required>
						<%  models.forEach(function(model) { %>
						<option value="<%=model._id%>" <% if (model._id === car.model) { %>selected<% } %>><%=model.name%></option>
						<% }); %>
					</select>
				</label>
				<label>Car model-year:       				   
					<select name="item[modelyear]" required>
						<% for (var modelyear = 2012; modelyear >= 1995; modelyear = modelyear-1) {%>
						<option value="<%=modelyear%>" <% if (modelyear === Number(car.modelyear)) { %>selected<% } %>><%=modelyear%></option>
						<% } %>
					</select>
				</label>
				<label>List name: 
					<input name="item[name]" value="<%=car.name%>" type="text" size="40" required>
				</label>
				<label>List price: 
					<input name="item[price]" value="<%=car.price%>" type="number" min="3000" step="100" required>
				</label>
				<label>Car image:
					<input name="item[image]" value="<%=car.image%>" 
						type="url" size="39" placeholder="http://www.carsforsale.com/car.jpg">
				</label>
				<label>Car description:
					<textarea name="item[description]"  cols="42" rows="10" 
						placeholder="type something :^)"
					><%=car.description%></textarea>
				</label>
				<button>Update</button>
			</form>
		</div>
	</body>
</html>